body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

.card-img-post {
    max-width: 80%;
    margin: 10px auto 30px;
    display: block;
}

.comment {
    border: 2px solid lightgray;
    border-radius: 10px;
}